@charset "UTF-8";
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .imgContainer,
.imgCards,
.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1399px) {
  .imgContainer .imgCard,
.imgCards .imgCard,
.cards .imgCard {
    grid-column: span 6;
  }
  .imgContainer .imgCard--xl,
.imgCards .imgCard--xl,
.cards .imgCard--xl {
    grid-column: span 12;
  }
  .imgContainer .iconCard,
.imgCards .iconCard,
.cards .iconCard {
    grid-column: span 6;
  }
  .imgContainer .card__content,
.imgCards .card__content,
.cards .card__content {
    grid-column: span 12;
  }
}
@media (min-width: 1400px) {
  .imgContainer,
.imgCards,
.cards {
    grid-rows: auto;
  }
  .imgContainer .imgCard,
.imgCards .imgCard,
.cards .imgCard {
    grid-column: span 4;
  }
  .imgContainer .imgCard--xl,
.imgCards .imgCard--xl,
.cards .imgCard--xl {
    grid-column: span 8;
    grid-row: span 2;
  }
  .imgContainer .iconCard,
.imgCards .iconCard,
.cards .iconCard {
    grid-column: span 3;
  }
  .imgContainer .card__content,
.imgCards .card__content,
.cards .card__content {
    grid-column: span 4;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

h2 {
  padding-bottom: 20px;
}

/*záhlaví */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}
.header__logo {
  height: 30px;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
}

/* hlavní menu */
.nav {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: #F03000;
  padding: 20px;
}
.nav__link:hover, .nav__link:focus {
  background-color: #F03000;
  color: #fff;
}

/* karty s obrázky */
.img-01 {
  background-image: url(/images/palmy.png);
}

.img-02 {
  background-image: url(/images/jezero2.png);
}

.img-03 {
  background-image: url(/images/nakole.png);
}

.img-11 {
  background-image: url(/images/lodicka.png);
}

.img-12 {
  background-image: url(/images/podkova.png);
}

.img-13 {
  background-image: url(/images/zatoka.png);
}

.imgCard {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  color: #fff;
  text-shadow: 0px 1px 10px #000000;
  margin-bottom: 20px;
}
.imgCard--xl {
  min-height: 240px;
}
.imgCard__price {
  padding: 10px;
  background-color: #F03000;
}
.imgCard__header {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 20px;
}
.imgCard__content h3 {
  font-size: 1.75em;
}
@media (min-width: 768px) {
  .imgCard {
    margin-bottom: 0;
  }
}

/* kartičky s texty */
.card {
  background-color: #F0F0F0;
  margin-bottom: 20px;
}
.card__content {
  padding: 20px;
}
.card__date {
  color: #888888;
  margin-bottom: 10px;
}
.card__header {
  font-size: 1.125em;
  color: #F03000;
  margin-bottom: 10px;
}
.card__caption {
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 768px) {
  .card {
    margin-bottom: 0;
  }
}

.iconCard {
  display: flex;
  margin-bottom: 10px;
}
.iconCard__icon {
  padding: 20px;
  height: 40px;
  flex: 0 0 60px;
}
@media (min-width: 768px) {
  .iconCard {
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
}

/* patička */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer p {
  margin: 0;
}/*# sourceMappingURL=style.css.map */