
body{
    max-width: 1400px;
    margin: auto;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
        gap:40px;
    }

}

.imgContainer,
.imgCards,
.cards {



    @media (min-width: 768px ) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    @media (min-width: 768px ) and (max-width: 1399px ) {
    
        & .imgCard{
            grid-column: span 6;
        }
        & .imgCard--xl{
            grid-column: span 12;
            
        }

        & .iconCard {
            grid-column: span 6;
        }

        & .card__content {
            grid-column: span 12;
        }
    }

    @media (min-width: 1400px) {
   grid-rows: auto;
   

        & .imgCard{
            grid-column: span 4;
        }
        & .imgCard--xl{
            grid-column: span 8;
            grid-row: span 2;
            
        }

        & .iconCard {
            grid-column: span 3;
        }

        & .card__content {
            grid-column: span 4;
        }
    }
}