//colors
$color-white: #fff;
$color-black: #000;
$color-primary: #F03000;
$color-gray--light: #F0F0F0;
$color-gray: #888888;
$color-gray--dark:#444444;
$color-transparent: #00000000;
$color-semi-transparent: #80808080;

// fonts

$default-font:  'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$regular: 400;
$semibold: 600;

$spacer: 20px;


// breakpoints

$breakpoint-mobile:		480px;
$breakpoint-tablet:		768px;
$breakpoint-responsive:	1400px;

